.moviesContainer {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding: 16px;
    scroll-behavior: smooth;
    margin-bottom: 10px;
    white-space: nowrap;
}

.moviesContainer::-webkit-scrollbar {
    display: none;
}

.contentMain {
    background-color: #414141;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: hidden;
}

.titleName {
    margin-left: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
}


@media (max-width: 768px) {
    .moviesContainer {
        gap: 12px;
        padding: 8px;
    }

    .titleName {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .moviesContainer {
        gap: 8px;
        padding: 4px;
    }

    .titleName {
        font-size: 18px;
    }
}