.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 0 60px;
  background-color: #000000;
  opacity: 0.9;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  position: relative; /* Añadir posición relativa para que el menú desplegable se posicione correctamente */
}

.icon {
  background-image: url("../../../public/images/logo.svg");
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logoAndLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.userIcon {
  position: relative; /* Añadir posición relativa para el menú desplegable */
  color: #ffffff;
}

.userButton {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.userDropdown {
  position: relative;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Colocar el menú justo debajo del botón */
  right: 0; /* Alinear a la derecha del contenedor */
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  list-style: none;
  padding: 10px;
  margin: 0;
  z-index: 1000; /* Asegurarse de que el menú esté por encima de otros elementos */
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #444;
}

.menuButton {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .menuButton {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .icon {
    display: block;
    margin: 0 auto;
  }

  .logoAndLinks {
    gap: 10px;
  }

  .link {
    display: none;
  }

  .menuButton {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
  }
}
