.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background-color: #262626;
    transition: left 0.3s ease-in-out;
    z-index: 10;
    padding: 15px;
}

.open {
    left: 0;
}

@media (min-width: 769px) {
    .sidebar {
        position: relative;
        left: 0;
        width: 260px !important;
    }
}

.content {
    flex-direction: column;
}

.title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-align: left;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    position: relative;
    background-color: black;
    color: white;
    width: fill;
    height: 46px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.genreSelect {
    background-color: black;
    color: white;
    width: fill;
    height: 46px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.options {
    margin-top: 10px;
}

.button {
    width: 100%;
    bottom: 10px;
    left: 0;
    background-color: #F0B90B;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}